@charset "utf-8";
/* CSS Document */

* { margin: 0; padding: 0; }
a { text-decoration: none }
img { border: none; }
li { list-style: none; }
i { font-style: normal; }
body { font-family: arial, \5FAE\8F6F\96C5\9ED1; }
.header, .f_inner, .m_top_inner, .m_bot, .frindlink { width: 990px; margin: 0 auto; }
/*header*/
.header { height: 70px; background: #fff; }
.logo { height: 43px; padding-top: 15px; float: left; }
.nav { float: right; }
.nav ul{ padding-right:26px;}
.nav li { float: left; line-height: 62px; margin-left: 32px; height: 62px; margin-top:5px;}
.nav a{ padding-left:10px; padding-right:10px;color: #636371; display:block;}
.nav a:hover { border-bottom: 3px solid #ff6600; }
.nav .first{border-bottom: 3px solid #ff6600; }

/*banner*/
.banner { height: 400px; background: url(../images/index_pc4.jpg) no-repeat #181818 center; }
/*main*/
/*main top*/
.m_top { border-bottom: 1px solid #efefef; height: 145px; }
.m_top_inner { height: 145px; }
.m_t_list li { width: 138px; text-align: center; float: left; padding-top: 21px; }
.pic { height: 62px; }
.m_t_list p { line-height: 31px; font-size: 14px; color: #3b4054; }
.m_t_list a { color: #3b4054; }
.m_top_erwei { width: 128px; height: 155px; float: right; text-align: center; color: #666865; font-size: 14px; position: relative; top: -32px; z-index: 9999; }
/*main bot*/
.m_bot { height: 370px; padding-top: 40px; }
.news { width: 290px; float: left; margin-right: 58px; }
.nnews { margin-right: 4px; }
.n_title { height: 40px; }
.n_title p { float: left; font-size: 20px; color: #52534d; }
.n_title span { float: right; font-size: 14px; color: #52534d; }
.news_pic { height: 120px; }
.n_piv_text { height: 34px; background: #f2f2f2; line-height: 34px; text-align: center; color: #454359; font-size: 14px; }
.n_title i { color: #dbdbdb; }
.news ul { padding-top: 10px; }
.news li { line-height: 26px; height: 26px; font-size: 14px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.news a { color: #3f4955; }
/*footer*/
.footer { background: #333333; height: 470px; }
.f_inner { height: 470px; }
.f_left { width: 825px; float: left; }
.f_left, .f_right { height: 277px; }
.f_left ul { float: left; width: 165px; padding-top: 45px; font-size: 12px; }
.f_left a { color: #abada8; }
.f_left li { line-height: 19px; }
.f_left_top { font-weight: bolder; }
.f_right { width: 165px; float: left; }
.f_right ul { padding-top: 45px; }
.f_r_top { padding-left: 27px; margin-bottom: 18px; line-height: 22px; border: 1px #474548 solid; width: 135px; height: 22px; background: url(../images/footer_icon_03.jpg) no-repeat 8px center; }
.f_r_top div { background: url(../images/f_r_top_icon_03.jpg) no-repeat 120px center; }
.f_right a { color: #a6a7a9; font-size: 14px; }
.f_icon2 { background: url(../images/f_right_icon_03.jpg) no-repeat 7px center; color: #a6a7a9; font-size: 14px; line-height: 26px; padding-left: 28px; }
.f_icon3 { background: url(../images/f_right_icon_06.jpg) no-repeat 7px center; color: #a6a7a9; font-size: 14px; line-height: 26px; padding-left: 28px; }
.f_icon4 { background: url(../images/f_right_icon_09.jpg) no-repeat 7px center; color: #a6a7a9; font-size: 14px; line-height: 26px; padding-left: 28px; }
.f_icon5 { background: url(../images/f_right_icon_11.jpg) no-repeat 7px center; color: #a6a7a9; font-size: 14px; line-height: 26px; padding-left: 28px; }
.f_icon6 { background: url(../images/f_right_icon_14.jpg) no-repeat 7px center; color: #a6a7a9; font-size: 14px; line-height: 26px; padding-left: 28px; }
.f_icon7 { background: url(../images/f_right_icon_17.jpg) no-repeat 7px center; color: #a6a7a9; font-size: 14px; line-height: 26px; padding-left: 28px; }
/*frindlink*/
.frindlink { height: 75px; border-top: 1px dashed #545454; border-bottom: 1px dashed #545454; float: left; }
.frindlink ul { height: 37px; width: 990px; }
.frindlink i { color: #686a65; padding-left: 8px; padding-right: 8px; }
.frindlink li { float: left; font-size: 12px; line-height: 37px; height: 37px; }
.frindlink a { color: #adafae; padding-left: 6px; padding-right: 8px; }
.frindlink .frindlink_1 { padding-left: 2px; }
.frindlink span { color: #454449; }
.frindlink_bot { border-top: 1px dashed #545454; }
.frindlink .more { float: right; padding-top: 2px; }
/*footer_bot*/
.footer_logo { width: 116px; height: 34px; padding-top: 30px; float: left; }
.footer_logo img { float: left; }
.footer_b_r { float: right; }
.footer_b_r img { float: right; padding-left: 15px; }
.footer_bot p { margin-left: 16px; height: 117px; float: left; color: #686a65; font-size: 12px; padding-top: 24px; text-align: left; line-height: 19px; }
.footer_b_r { padding-top: 27px; }